<h2>My Recipies</h2>
<div class="recipies ">
  <div *ngFor="let recipe of recipies" >
      <ul>
      	<li>
	      	<div>{{recipe.hoeveelheden[0]}} {{recipe.ingredienten[0]}}</div>
	      	<div>{{recipe.hoeveelheden[1]}} {{recipe.ingredienten[1]}}</div>
	      	<div>{{recipe.hoeveelheden[2]}} {{recipe.ingredienten[2]}}</div>
	      	<div>{{recipe.hoeveelheden[3]}} {{recipe.ingredienten[3]}}</div>
	      	<div>{{recipe.hoeveelheden[4]}} {{recipe.ingredienten[4]}}</div>
	      	<div>{{recipe.hoeveelheden[5]}} {{recipe.ingredienten[5]}}</div>
	      	<div>{{recipe.hoeveelheden[6]}} {{recipe.ingredienten[6]}}</div>
	      	<div>{{recipe.hoeveelheden[7]}} {{recipe.ingredienten[7]}}</div>
      	</li>
      </ul>
  </div>
</div>

